//=====================================
// globale settings
//=====================================
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
section {
    border: 1px solid #000;
    margin: 10px;
}
