/*
befehl ürs terminal
sass --watch ./assets/scss:./assets/css
*/
@use "./reset";
@use "./_globalsettings";
@use "./variables";


$headline: maintheme;

$text_r: textregular;

.buttons{
    width: 100px;
    height: 100px;
    border:1px solid #FFE81F;
    background-color: transparent;
    box-shadow: none;
    border-radius: 50px;
    font-size: 40px;
    transition: background-color 0.5s linear;
    transition: box-shadow 0.5s linear;
    transition: border 0.5s linear;
    
}
.buttons:hover{
    cursor: grab;
    background-color: rgba(255, 233, 31, 0.3);
    border: 1px solid #000;
    box-shadow:0px 0px 10px #FFE81F;
}
.score_box{
    .relativbox{
        position: relative;
        display: flex;
        justify-content: center;
        h2{
            padding-bottom: 1px;
        }
        .du{
        position: absolute;
        top: 50px;
        left: 0%;
        }
        .gegner{
        position: absolute;
        top: 50px;
        right: 0%;
        }
    }
    .punkteanzeige{
        div{
            display: flex;
            justify-content: center;
        }
    }
}
.reset{
    margin-top: 10px;
    padding:10px 20px;
    font-family: $text_r;
    font-size: 25px;
    border-radius: 20px;
    border:1px solid #FFE81F;
    background-color: transparent;
    text-shadow:1px 1px 10px #FFE81F;
    transition: background-color 0.5s linear;
    transition: box-shadow 0.5s linear;
    transition: border 0.5s linear;
}
.reset:hover{
    cursor: pointer;
    background-color: rgba(255, 233, 31, 0.3);
    border: 1px solid #000;
    box-shadow:0px 0px 10px #FFE81F;
} 

.verlauf{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 414px) {
    body{
        background-position: -700px 0px;
        main{
            font-size: 20px;
            h1{
                font-size: 45px;
                padding-bottom: 20px;
            }
            section{
                width: 95%;
            }
            .roundselection{
                display: flex;
                justify-content: space-evenly;
                label{
                    font-size: 30px;
                }
                input[type=radio]{
                    width: 30px;
                }
            }
            h2{
                padding-bottom: 20px;
            }
            .score_box{
                .relativbox{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    h2{
                        padding-bottom: 1px;
                    }
                    .du{
                    position: absolute;
                    top: 50px;
                    left: 0%;
                    }
                    .gegner{
                    position: absolute;
                    top: 50px;
                    right: -4%;
                    }
                }
                .punkteanzeige{
                    font-size: 30px;
                    text-align: center;
                    div{
                        display: flex;
                    }
                }
            }
            .verlauf{
                display: flex;
                flex-direction: column;
                div{
                    height: 30px;
                }
            }
            .winner{
                height: 35px;
            }
        }
    }
}       